<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertDeprecationsToExceptions="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-config.php" />
	</php>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src/php</directory>
		</include>
		<exclude>
			<directory>./vendor</directory>
			<directory>./tests</directory>
		</exclude>
	</coverage>
</phpunit>
